* {
  margin:0;
  padding: 0;
}

.pix {
  /*border:solid black;*/
  /*border-radius: 13px;*/
  width: 30%;
  height: 460px;
  margin:1.66%;
  float: left;
}

p{
  font-family: 'Pacifico', cursive;
  color:grey;
  margin-left: 20px;
  padding: 10px;
  }

#title {
  font-family: 'Pacifico', cursive;
  width:250px;
  padding-left: 20px;
  border: 2px solid grey;
  border-radius: 15px;
  background-color: #b3ecff;
  margin: 1.66% auto auto 1.66%;
  /*margin-top: 1.66%;*/
}

/*.footer {
  position: absolute;
  margin-bottom: 0;
  text-align: center;
}*/
